/* HeroesComponent's private CSS styles */
.movies {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 20em;
}
.movies li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: auto;
  border-radius: 4px;
}

.movies li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.movies a {
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.movies a:hover {
  color: #607D8B;
}


button:hover {
  background-color: #cfd8dc;
}

button.delete {
  background-color: gray !important;
  color: white;
}
